h1 {
  margin: 2rem 0 2rem 0;
  justify-content: center;
}

em {
  text-decoration: none;
  font-weight: bold;
  color: #198754;
  justify-content: center;
}

.text-homepage {
  margin: 2rem 10% 2rem 10%;
}