h3 {
  margin: 2rem 0 2rem 0;
}

.article-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.article-day .img-random-article {
  width: 50%;
  height: 50%;
  align-self: center;
  border: 2px solid white;
}

.article-day p, .article-day h2 {
  margin: 2rem;
}

.ui.button {
  width: 10rem;
  align-self: center;
}


.container-random-article {
  margin-bottom: 3rem;
  margin-top: 3rem;
  background-color: lightgrey;
}