.quiz-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;

  & .div_responses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 2rem;
    

    & .ui.card {
      margin: 0;
      text-align: center;
    }
  }

  & .question {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .img-quiz {
      width: 100%;
      max-width: 800px;
      height: auto;
    }
  }

  .ui.positive.message {
    text-align: center;

    & p {
      font-size: 3rem;
    }
  }
}
h1 {
  display: flex;
}
p {
  text-align: center;
}
.ui.button.next-question {
  color: green;
  max-width: 15%;
}
.response-option {
  padding-right: 20%;
}
.response-button {
  padding-left: 10%;
}