.img-subCategoryList {
  width: 30%;
  object-fit: cover;
 }
 .img-container-subCategory {
  text-align: center;
 }
 .description-sub-category {
  text-align: justify;
  margin: auto;
  padding: 30px;
 }